@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1708930718511') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hetongmenhu:before {
  content: "\e897";
}

.icon-hetongmoban1:before {
  content: "\e898";
}

.icon-hetongnigao:before {
  content: "\e899";
}

.icon-hetongshenpi:before {
  content: "\e89a";
}

.icon-hetonglvyue1:before {
  content: "\e89b";
}

.icon-hetongdangan:before {
  content: "\e89c";
}

.icon-huiyichaxun:before {
  content: "\e87f";
}

.icon-huiyibaobiao:before {
  content: "\e883";
}

.icon-hetongquanxian:before {
  content: "\e89d";
}

.icon-jichushezhi:before {
  content: "\e89e";
}

.icon-hetongjihua:before {
  content: "\e8a0";
}

.icon-hetongzhihang:before {
  content: "\e89f";
}

.icon-hetongshenji:before {
  content: "\e8a1";
}

