.panel{
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 16px;
    // cursor: pointer;
    overflow: auto;
    .panel-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
        .panel-title{
            font-size: 16px;
            color: #1d2129;
            font-weight: bold;
        }
    }
    .panel-bd{
        .empty {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: #666;
            img{
                width: 50px;
            }
            .emptyDesc{
                font-size: 14px;
            }
        }
    }
}
.panel.datagrid{
    padding: 0;
}
.btnText {
    height: 25px;
    line-height: 25px;
    background: transparent;
    color: #4e5969;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 4px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.btnText:hover {
    background: #f2f3f5;
}


// 列表页头部
.headerBar{
    width: 100%;
    height: 47px;
    line-height: 47px;
    background: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    .headerLeft{
        padding-left: 20px;
        display: flex;
        align-items: center;
        flex: 1;
        .icon-circle-base {
            width: 35px;
            height: 35px;
            background: rgb(0, 121, 222);
            border-radius: 50%;
            margin-right: 10px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              width: 18px;
              height: 18px;
            }
        }
        .headerTitle{
            color: #484a4d;
            margin-left: 3px;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .headerRight{
        padding-right: 14px;
        display: flex;
        align-items: center;
    }
}
// 下拉框
.dropMenuWapper{
    position: absolute;
    width: 132px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    top: calc(100% - 10px);
    padding: 4px 0;
    box-sizing: border-box;
    overflow: auto;
    cursor: pointer;
    display: none;
    z-index: 99;
    .dropMenu{
        text-align: left;
        .dropMenuItem{
            font-size: 14px;
            color: #4e5969;
            line-height: 36px;
            background: #fff;
            font-weight: normal;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                color: var(--textColor);
                background: #f2f3f5;
            }
            .item{
                text-align: left;
                padding-left: 12px;
            }
        }
    }
}
.menuButton {
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    z-index: 99;
    text-align: left;
    position: relative;
    .menuButtonButton{
        padding: 4px 22px 4px 5px;
        display: inline-block;
        margin: 0;
        color: #333;
        border: 1px solid #b5b5b5;
        border-bottom-color: #7f7f7f;
        background: #e8e8e9 url("~@/assets/img/btn_sprite.png") repeat-x right top;
        background-image: url("~@/assets/img/btn_mutton_sprite.png") !important;
        font-weight: bold;
        border-radius: 3px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: pre;
        &:hover{
            background-position: right -30px;
        }
    }
    .menuButtonMenu{
        min-width: 97px;
        position: absolute;
        left: 0;
        z-index: 999;
        white-space: nowrap;
        border-bottom: 1px solid #7d7d7d;
        margin-top: -2px;
        background-color: #f8f8f8;
        box-shadow: 0 1px 5px #727272;
        padding: 0;
        // display: none;
        a{
            background-color: transparent;
            border: 0;
            padding: 4px 10px;
            font-weight: normal;
            display: block;
            text-decoration: none;
            color: #000;
            white-space: pre;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            &:hover{
                background: #e3f3ff none;
                color: #015ba7;
                border: 0;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.fh-searchbox{
    .fh-search{
        background: #ffffff;
        color: #181818;
        border: 1px solid #747474;
        border-radius: 4px;
        display: inline-block;
        padding: 0 16px 0 12px;
        line-height: 1.875rem;
        margin: 0 0.75rem;
        width: calc(~"100% - 1.5rem");
        min-height: calc(~"2.125rem + 2px");
        padding-left: 2.2rem;
        position: relative;
    }
    .fh-search:focus{
        outline: 0;
        border-color: #1b96ff;
        background-color: #ffffff;
        box-shadow: 0 0 3px #0176d3;
    }
    .fh-icon-utility-search{
        position: absolute;
        left: 26px;
        z-index: 9002;
        top: 21px;
        svg{
            width: 14px;
            height: 14px;
            fill: #444444;
        }
    }
}

.fh-menu{
    padding: 10px 0 !important;
    border: 1px solid #333;
    border-radius: 4px;
    max-height: 300px;
    overflow: auto;
    border-radius: 4px !important;
    .fh-menu-item{
        width: 206px;
        line-height: 35px;
        border-radius: 0;
        .entityIcon{
            background: #779EF2;
            width: 24px;
            height: 24px;
            line-height: 1;
            fill: #ffffff;
            border-radius: 2px;
            margin-right: 12px;
            display: inline-block;
            img{
                max-width: 100%;
                height: 100%;
                vertical-align: middle;
                display: inherit;
            }
        }
    }
}

.ant-btn.ant-btn-icon{
    color: #747474;
    padding: 0 8px;
    &:hover{
        color: #355d96;
    }
    .btn_icon{
        width: 14px;
        height: 14px;
        fill: currentColor;
        vertical-align: middle;
    }
    .btn_icon.btn_icon_small{
        width: 8px;
        height: 8px;
        margin-left: 4px;
    }
}
// svg
.fh-icon{
    width: 32px;
    height: 32px;
    fill: currentColor;
    &.fh-icon_xx-small{
        width: 14px;
        height: 14px;
    }
}
