*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
    background-color: #ccc;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    background-color: transparent;
}
[v-cloak]{
    display: none;
}