.menuContainer{
    background: #1055BC;
    .ant-menu{
        color: #fff !important;
    }
    .ant-menu-item{
        width: 100%;
        margin: 0;
        background: #1055BC;
        border-radius: 0;
        .iconfont{
            font-size: 18px;
        }
    }
    .iconfont{
        font-size: 18px;
    }
    .ant-menu-submenu-title{
        .iconfont{
            font-size: 18px !important;
        }
    }
    .ant-menu-title-content{
        margin-left: 20px !important;
        font-size: 13px !important;
    }
    .ant-menu-item.ant-menu-item-only-child{
        // margin-left: 0 !important;
    }
    .ant-menu-item:hover{
        background: #2866C3 !important;
    }
    .ant-menu-item.ant-menu-item-selected{
        background: #2866C3 !important;
    }
}