.layoutWrapper{
    height: 100vh;
    display: flex;
    .left{
        width: 197px;
        height: 100vh;
        background: #1055BC;
    }
    .right{
        flex: 1;
        height: 100%;
        .container{
            height: calc(100% - 55px);
            background: #e8edf4;
        }
    }
}
.wea-menu-switch{
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: #1055BC;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}